<style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
	
	tr:nth-child(even) {
		background-color: DarkGray;
	}
	.current-score{
		background-color: lime !important;
	}
</style>